<p class="header">
   <a href="https://tigoe.github.io/">tigoe.github.io</a><br />
   <a href="{{site.baseurl}}">DMX_Examples Home</a><br /> 
   <a href="{{site.baseurl}}/dmx-intro.html">DMX/sACN Intro</a><br />
   <a href="{{site.baseurl}}/touch-designer.html">TouchDesigner DMX settings</a><br />
   Arduino:<br />
   &nbsp;&nbsp;<a href="{{site.baseurl}}/arduinodmx.html">Arduino DMX</a><br />
   &nbsp;&nbsp;<a href="{{site.baseurl}}/arduino-sacn.html">Arduino sACN</a><br />
   &nbsp;&nbsp;<a href="{{site.baseurl}}/nodeACN/">JavaScript node.js sACN example</a><br />
   &nbsp;&nbsp;<a href="{{site.baseurl}}/p5.webserial-dmx/">JavaScript WebSerial DMX</a><br />
</p>